<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Top Stories</a>
</nav>
<div class="container-fluid text-center pb-4">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
</div>
<div class="text-center">
  <span class="col-sm-4">Enter API Key</span>
  <input type="text" name="APIKey" id="txtAPIKey" class="col-sm-4" [(ngModel)]="APIKey">
</div>
<br>
<div class="col-sm-12 text-center">
  <input type="button" title="Get Stories" value="Get Stories" class="btn btn-primary" (click)="getStories()"/>
</div>
<router-outlet></router-outlet>